body {
 background-color: rgb(96, 1, 1);
 color: rgb(1, 63, 1);
}

h1 {
    border-buttom: solid 2xp rgb(66, 66, 66)
    padding: 20px;s
}

h1 {
    font-size: 30xp;
}

p {
 color: black;
 font-size: 16px;
}