body {
 background-color: rgb(1, 31, 96);
 color: rgb(1, 63, 1);
}

h1 {
    border-buttom: solid 2xp rgb(248, 248, 248)255)
    padding: 20px;s
}

h1 {
    font-size: 30xp;
}

p {
 color: white;
 font-size: 16px;
}